body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
}



.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px 20px 0px 20px;
    padding-right: 50px;
    width: 90%;
}

.input,
.result {
    display: flex;
    justify-content: end;
    background-color: black;
 color: white;  
}

.input {
    padding: 10px;
    font-size: x-large;
    min-height: 30px;
}

.result {
    padding: 10px;
    font-weight: bold;
    font-size: xx-large;
    min-height: 38px;
}




.button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width:90%;
    padding: 20px 0px 20px 0px;
}

.button {

    padding: 20px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    font-size: x-large;
    background-color: #E5E4E2;
}

.button:hover{
    background-color: hsl(0,0%,60%);
}

.operator,#clear,#point,#slash {
    padding: 20px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    font-size: x-large;
    background-color: orange;
}

.equals {
    font-size: xx-large;
    padding: 15px 120px 15px 120px;
    border-radius: 50px;
    background-color: orange;
}

.operator:hover,
.equals:hover,#clear.button:hover,
#point.button:hover,
#slash.operator:hover{
    background-color: hsl(28, 83%, 52%)!important;
}

